<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled two_cols">
                    <li><a href="@Url.Action("Index", "Home")" class="active">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About us</a></li>
                    <li><a href="@Url.Action("SoftwareDevelopment", "Services")">Software development</a></li>
                    <li><a href="@Url.Action("DotNetDevelopment", "Services")">.Net development</a></li>
                    <li><a href="@Url.Action("WebDevelopment", "Services")">Web development</a></li>
                    <li><a href="#">Recent projects</a></li>
                    <li><a href="#">Responsive projects</a></li>
                    <li><a href="@Url.Action("OurCustomers", "Projects")">Customers</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 legal-notice">
                <h3 class="footer-widget-title">Legal notice</h3>
                <p>Owner of Website:</p>
                <span>pixabit solutions GmbH </span>
                <span>Roemerstrasse 75</span>
                <span>71229 Leonberg</span>
                <p>Phone: +49 7152 307959-0</p>
                <span>Managing Director: Stefan Nesselhauf</span>
                <span>Registered office of the company: Leonberg</span>
                <span>Amtsgericht Stuttgart, HRB 741933</span>
                <span>Tax: 70095/82785</span>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Current projects</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="~/Content/img/customers/bosch-small.png" class="img-responsive" alt="Bosch"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="~/Content/img/customers/wts-small.png" class="img-responsive" alt="Wts"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="~/Content/img/customers/porsche-small.png" class="img-responsive" alt="Porsche"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="~/Content/img/customers/vpv-small.png" class="img-responsive" alt="VPV"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; 2014 <a href="@Url.Action("Impressum", "Home")">pixabit solutions GmbH • Legal Notice</a></p>
</footer>
