@{
    ViewBag.Title = "Our customers";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Our Customers</h1>
        <ol class="breadcrumb pull-right">
            <li>Projects</li>
            <li class="active">Customers</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="col-md-12">
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/porsche.jpg")" alt="Porsche logo">
            </a>
            <div class="media-body">
                <h2 class="media-heading">Porsche AG, Stuttgart</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                @*<p><strong>Website:</strong> <a href="#">www.example.com</a></p>*@
            </div>
        </div>
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/bosch.png")" alt="Bosch logo">
            </a>
            <div class="media-body">
                <h2 class="media-heading">Robert Bosch GmbH, Stuttgart</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
               
            </div>
        </div>
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/bosch.png")" alt="Bosch logo">
            </a>
            <div class="media-body">
                <h2 class="media-heading">Bosch Thermotechnik GmbH, Wernau</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                
            </div>
        </div>
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/wts.png")" alt="WTS logo">
            </a>
            <div class="media-body">
                <h2 class="media-heading">WTS Alliance</h2>
                <p>WTS Alliance is a global network of selected consulting firms represented in more than 100 countries worldwide</p>

            </div>
        </div>
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/vpv.png")" alt="VPV logo">
            </a>
            <div class="media-body">
                <h2 class="media-heading">VPV Lebensversicherungs AG, Stuttgart</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                
            </div>
        </div>
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/gu.png")" alt="Gretsch-unitas logo">
            </a>
            <div class="media-body">
                <h2 class="media-heading">Gretsch-Unitas GmbH Baubeschläge, Ditzingen and BKS GmbH, Velbert</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
               
            </div>
        </div>
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/img/customers/fdp.png")" alt="fdp">
            </a>
            <div class="media-body">
                <h2 class="media-heading">FDP Fraktion im Deutschen Bundestag, Berlin
(parliamentary group within the German Bundestag/Parliament)</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
               
            </div>
        </div>
    </div>
</div>